default: &default
  adapter: postgresql
  username: username
  port: 5432
  host: 'localhost'
  encoding: 'utf8'
  pool: 5
  reconnect: true

development:
  <<: *default
  database: extreme_sport_development

test:
  <<: *default
  database: extreme_sport_test
